# Ignore dependencies
node_modules
.pnpm-store

# Build outputs
.next
out
dist

# IDE and OS-specific files
.vscode/
.idea/
.DS_Store
*.log
*.swp

# Tests and coverage
coverage/
*.test.js
*.spec.js
*.test.ts
*.spec.ts

# Git files
.git
.gitignore

# Docker-related files
Dockerfile
.dockerignore
